*{
    margin: 0;
    padding: 0;
}
.banner1-container{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    

}
.banner1-title{
    color: #272727;
    width: 700px;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 30px;
}
.banner1-pera{
font-size: larger;
padding-bottom: 30px;
}
.btn{
    background-color:#E55473 ;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    gap: 10px;
    color: white;
    
}
.btn:hover{
    color: blue;
}
.section2-container{
    text-align: center;
    padding: 80px;
}
.info-text{
    /* text-align: center;; */
}
.info-title{
font-size: 30px;
font-weight: bold;
padding-bottom: 25px;
}
.info-discription{
font-size: 18px;
color: #272727;
}
.section2-photos{
    display: flex;
    justify-content: space-between;
}

.support-delivery{
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
}.delivery{
    padding: 80px 5px 80px 10px;
}
.fresh-flower{
    padding: 80px 5px 80px 5px;
}
.support-img{
    /* padding: 80px 0px 80px 0px; */
}
.support-text:hover{
    color: blue;
}

